*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-image: url(images/coffee-beans-background.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
}

body{
    text-align: center;
    display: flex;
}

img{
    width: 25px;
    height: auto;
}

.container{

    background-color: rgba(223, 168, 120, 0.6);
    padding:10px 20px;
    width: 80%;
    min-height: 100vh;
    max-width: 600px;
    margin-left: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-item{
    display: flex;
    justify-content: space-between;
    gap:36px;

    margin:6px;
}

.name{
    flex:2;
}
.price{
    color: white;
}

.coffee-menu,
.desserts-menu{

    border-top: solid 2px #6C3428;

}