*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-image: url(images/coffee-beans-background.jpg);
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
}

body{
    text-align: center;
    display: flex;
}

img{
    width: 25px;
    height: auto;
    margin-bottom: 12px;
}

.container{

    background-color: rgba(223, 168, 120, 0.6);
    width: 80%;
    min-height: 100vh;
    max-width: 700px;
    margin-left: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-item{
    display: flex;
    justify-content: space-between;
    gap:24px;
    flex:1;

    margin:6px;
    font-size: 1.5em;
}

.name{
    flex:2;
}
.price{
    color:#CEE6F3;
}

.coffee-menu,
.desserts-menu{
    margin:10px;
    border-top: solid 2px #6C3428;

}

.content{
    flex:1;
}

a{
    text-decoration: none;
    color:#CEE6F3;
}

a:hover{
color: #6C3428;
font-weight: bold;
}